@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

/* 로고 컴포넌트 (img 요소) */
.logo {
  --size: 14.375rem;

  display: block;
  width: var(--size, 14.375rem);
  inline-size: var(--size, 14.375rem);
}

/* 로고 컴포넌트 (svg 요소) */
.logo {
  svg {
    display: block;
    width: 100%;
    inline-size: 100%;
    height: auto;
    block-size: auto;
  }
}