/* font-family 속성 - 글꼴 */
/* 루트 요소 */
:root {
  font-size: clamp(12px, 3vw, 24px);
}

body {
  font-family: 'SUIT', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

h1 {
  font-weight: 500;
  font-size: 1.5em;
}

div {
  font-size: 1.5em;
}

/* font 관련 속성 - 글자 크기, 굵기, 기울임꼴 */
.size {
  color: green;
  line-height: 1;
  font-weight: 300;
  font-style: italic;
  font-variant: small-caps;
  font-family: 'pretendard variable', sans-serif;
  /* font:14px "pretendard variable"; */
}

/* 단위 - rem */
