/* CSS 박스모델 */
/* 박스의 테두리 설정 - border */
/* 안쪽 여백 설정 - padding */
/* 바깥쪽 여백 설정 - margin */
/* 박스 사이징 - box-sizing */
.like {
  box-sizing: border-box;
  border: 5px solid green;
  padding: 20px;
  width: 150px;
  margin: 50px;

  div {
    background-color: yellow;
  }
}

.bootcamp {
  border: 1px solid purple;
  padding: 0 100px;
}

/* width, height 속성으로 크기 지정 */
/* inline일 경우 width가 적용되지 않음 */
/* inline-block일 경우 width가 적용 됨 */
.lion {
  display: block;
  border: 5px solid red;
  padding: 10px;
  margin: 20px 0;
}

.teacher {
  margin-bottom: 50px;
  width: 300px;
  margin-left: -50px;
}
