@import '/src/common/best-reset.css';
@import '/src/common/a11y.css';

/* 모든 디바이스에 기본적으로 적용될 배경색 - yellow */
/* 모든 디바이스에 글자크기를 유연하게 설정 - vw 단위 */
/* clamp() 함수를 이용해서 글자크기를 유연하게 설정 가능 */
body {
  background: yellow;
  font-size: clamp(0.75rem, 2vw, 2rem);

  /* 뷰포트(600px) 크기에 따라 적용될 배경색 - pink */
  @media (min-width: 600px) and (max-width: 800px) {
    background: pink;
  }

  /* 뷰포트(1000px) 크기에 따라 적용될 배경색 - lime */
  @media (min-width: 1000px) {
    background: lime;
  }
}

/* 가로 보기모드에서 적용될 배경색 - orange (landscape 가로보기, portrait 세로보기) */
/* @media (orientation: landscape) {
  body{
    background-color: orange;
  }
} */
