@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

body {
  margin: 20px;
  padding-bottom: 1000px;
}

/* 다단 레이아웃을 적용한 컨테이너 */
.container {
  background: var(--pastel-lavender);
  padding: 1em;

  .case {
    margin-block: 20px;
  }

  /* case : column-width */
  .case-01 {
    column-width: 15rem; /* 15rem 크기만큼 단이 나뉘어짐 늘리면 단 갯수가 늘어남 */
    column-rule: 1px solid red; /* 단과 단 사이 구분 선 */
    column-gap: 2rem; /* 열과 열 사이의 거리를 조정 */
  }

  /* case : column-count */
  /* column-rule 속성으로 단 구분선 스타일링 */
  .case-02 {
    column-count: 4; /* 단을 4개로 나눔 늘려도 단이 늘어나지 않음 */
    column-rule: 1px dotted green;

    span {
      display: block;
      /* column-span: all을 지정하기 위해서는 블록 요소여야 함.
      여러 열(column)을 가로질러 배치되도록 설정 */
      column-span: all;
      background: var(--pastel-dark-blue);
      color: var(--white);
      padding: 0.5em;
    }
  }

  /* case : columns 단축속성에 column-width 선언 */
  .case-03 {
    columns: 5rem;
    column-rule: 3px double blue;
  }

  /* case : columns 단축속성에 column-count 선언 */
  .case-04 {
    /* column-fill: balance; 레이아웃에서 컬럼 내부의 콘텐츠를 균등하게 채움 */
    columns: 2;
  }

  /* case : column-fill: auto */
  .case-05 {
    column-fill: auto; /* 레이아웃에서 컬럼 내부의 콘텐츠를 자동으로 채움 */
    columns: 2;
    height: 100px;
    block-size: 100px;
  }
}

.wrapper {
  background: var(--pastel-lemon);
  padding: 1em;
  columns: 3;

  .case-02 {
    /* 페이지, 열(column), 또는 
    섹션이 시작되기 전에 강제 개행(줄 바꿈)을 적용하는 CSS 속성 */
    break-before: column;
    border: 1px solid red;
  }
}
