/* 클래스 선택자 */
/* 배경색상 */
/* font-variant 속성으로 대문자 변환은 가능했지만 크기가 작은 대문자인 관계로 주석 처리 */
/* 검색을 통해 text-transform 속성을 알게되었고 대문자로 변환하는 값을 적용함 */
/* text-transform 속성을 .member-service에 선언함으로써 자식 요소 모두에 상속되도록 함 */
/* font-size: 0을 지정해서 공백문자가 크기를 갖지 않도록 상속 */
.member-service {
  background-color: yellow;
  /* font-variant: small-caps; */
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 0;
}

/* 태그 선택자 */
/* 웹브라우저 스타일(밑줄)을 재정의 */
/* 웹브라우저 링크 스타일(색상)을 지정의 (상속) */
/* 안쪽 여백 (좌우)- 8px */
.item {
  font-size: 0.875rem;
  text-decoration: none;
  color: inherit;
  background-color: pink;
  /* margin-left: 8px;
  margin-right: 8px; */
}

/* a 요소보다 우선순위 */
.item.first:before {
  content: '';
}

/* a 요소이면서 가상요소 선택자 */
.item::before {
  content: ':';
  padding-left: 16px;
  padding-right: 16px;
}

/* 구조 선택자를 이용할 때 */
.item:nth-child(n + 2)::before {
  background-color: pink;
  content: ':';
}

/* UL 요소를 활용한 구조 예시 */
.member-link {
  background-color: aqua;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 0;
  text-align: right;

  li {
    display: inline-block;

    * {
      display: inherit;
      font-size: 0.875rem;
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    padding: 8px;
    background-color: pink;
    /* padding-left: 8px;
    padding-right: 8px */
  }

  span {
    margin-left: 8px;
    margin-right: 8px;
  }
}
