@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/base.css';

/* 플렉스를 활용한 반응형 레이아웃 */
/* 플렉스 컨테이너 */
.container {
  @media (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;

    .box,
    .wrapper {
      display: contents; /* wrapper으로 램핑해버리면 플렉스 아이템은 wrapper가 되기 때문에
      그의 자식요소는 flex를 안먹는다, contents 속성을 주게되면 자신이 아닌 자식들을 flex 속성을 먹게 해줌 */
    }

    .header,
    .navigation,
    .footer {
      width: 100%;
      inline-size: 100%;
    }

    .content,
    .sidebar {
      width: 50%;
      inline-size: 50%;
      height: 65vh;
      block-size: 65vh;
    }
  }

  @media (min-width: 1024px) {
    .navigation,
    .sidebar {
      width: 25%;
      inline-size: 25%;
      height: 65vh;
      block-size: 65vh;
    }
  }
}

/* 헤더 */
.header {
  background: var(--pastel-coral);
  height: 10vh;
}

/* 내비게이션 */
.navigation {
  background: var(--pastel-green);
  height: 15vh;
}

/* 메인 콘텐츠 */
.content {
  background: var(--pastel-aqua);
  height: 40vh;
}

/* 사이드 바 */
.sidebar {
  background: var(--pastel-yellow);
  height: 25vh;
}

/* 푸터 */
.footer {
  background: var(--pastel-lavender);
  height: 10vh;
}
