@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

/* 체크박스 (배경이미지) */
.checkbox {
  --size: 1.5rem;

  display: inline-flex;
  height: var(--size);
  block-size: var(--size);
  position: relative;
  font-size: var(--font-md);

  /* .checkbox 컨테이너 안에 자식 요소 중 .bg-img 클래스가 있을 경우 input 요소를 선택 */
  &:has(.bg-img) input /* & : 부모 선택자, has(.bg-img) : 
  해당 요소 안에 .bg-img 클래스를 가진 요소가 존재하는 경우에만 스타일이 적용 */ {
    position: absolute;
    top: 0;
    inset-block-start: 0;
    left: 0;
    inset-inline-start: 0;
    margin: 0;
    width: var(--size);
    inline-size: var(--size);
    height: var(--size);
    block-size: var(--size);
    appearance: none; /* 안보이게 처리 (appearance : 기본적인 브라우저 스타일을 제어(특히 폼)) */
  }

  /* input:focus{
    outline: 0;
    box-shadow: 0 0 0 1px var(--red-500);
    border-radius: var(--rounded-xs);
  } */

  label.bg-img {
    background: url(/src/assets/naver/unchecked.svg) no-repeat;
    padding-left: 1.875rem;
    padding-inline-start: 1.875rem;
    /* text-indent: 2rem; - 들여쓰기 (블록성향의 요소일때만 사용 가능) */
    align-content: center; /* flex와 무관, 나의 상자 영역에서 세로 기준 가운데 정렬 */
  }

  input:checked + label.bg-img /* 인접 선택자 */ {
    background-image: url(/src/assets/naver/checked.svg)
      /* 백그라운드 이미지만 체인지할 것이기 때문에 이미지라고 명시해줘야 한다 */;
  }
}

/* 체크박스 (svg 요소) */
.checkbox.svg {
  display: inline-flex;
  align-items: center;
  column-gap: 0.375rem; /* 플렉스 아이템 사이의 가로 간격을 조정 */
  position: relative;

  input {
    position: absolute;
    top: 0;
    inset-block-start: 0;
    left: 0;
    inset-inline-start: 0;
    margin: 0;
    /* 배경 이미지 크기와 동일하게 */
    width: var(--size);
    inline-size: var(--size);
    height: var(--size);
    block-size: var(--size);
    appearance: none;
  }

  label {
    display: contents;
  }

  input:checked + label .svg--area,
  input:checked + label .svg--border {
    fill: var(--green-500);
  }

  input:checked + label .svg--mark {
    fill: var(--white);
  }
}
