<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>스위치 컴포넌트</title>
  <link rel="shortcut icon" href="/src/assets/favicon/likelion.ico" type="image/x-icon" />
  <link rel="icon" href="/src/assets/favicon/likelion.svg" />
  <link rel="preload" as="font" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Regular.woff2">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css">
  <link rel="stylesheet" href="/src/ui/components/switch/switch.css" />
</head>
<body>
  <div class="components-container">
    <h1>스위치 컴포넌트</h1>
    <h2>텍스트 스위치</h2>
    <div class="switch text-switch">
      <input class="switch__input" role="switch" type="checkbox" name="switch-1" id="switch-1" />
      <label class="switch__label" for="switch-1">
        <span class="sr-only">스위치</span>
      </label>
    </div>
    <h2>토글 스위치</h2>
    <div class="switch toggle-switch">
      <input class="switch__input" role="switch" type="checkbox" name="switch-2" id="switch-2" />
      <label class="switch__label" for="switch-2">
        <span class="sr-only">스위치</span>
      </label>
    </div>
  </div>
</body>
</html>