@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

/* 텍스트 링크 */
.text-link{
  display: inline-flex;
  font-size: var(--font-md);

  &:hover{
    background: var(--blue-100);
  }

  &:focus{
    outline: 0;
    box-shadow: 0 0 0 1px var(--blue-900);
    border-radius: var(--rounded-xs);
  }
}