<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>버튼 컴포넌트</title>
  <link rel="shortcut icon" href="/src/assets/favicon/likelion.ico" type="image/x-icon" />
  <link rel="icon" href="/src/assets/favicon/likelion.svg" />
  <link rel="preload" as="font" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Regular.woff2">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css">
  <link rel="stylesheet" href="/src/ui/components/button/button.css" />
</head>
<body>
  <div class="components-container">
    <h1>버튼 컴포넌트</h1>
    <!-- Default Button -->
    <button type="button" class="button">버튼</button>
    <button type="button" disabled class="button">버튼</button>
    <hr />
    <!-- Fill Button -->
    <button type="button" class="button button--fill">버튼</button>
    <button type="button" disabled class="button button--fill">버튼</button>
    <hr />
    <!-- Outline Button -->
    <button type="button" class="button button--outline">버튼</button>
    <button type="button" disabled class="button button--outline">버튼</button>
  </div>
</body>
</html>