/* Fade Animation */
@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Shrink Animation */
@keyframes shrink {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
}

/* Bounce Animation */
@keyframes bounce {
  0%,
  100% {
    translate: 0 0;
  }
  50% {
    translate: 0 -20px;
  }
}

/* Shake Animation */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
}

/* Spin Animation */
@keyframes spin {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
  }
}

/* Pulse Ainimation */
@keyframes pulse {
  0%,
  100% {
    scale: 1 1;
  }
  50% {
    scale: 1.1 1.1;
  }
}
